@import "tailwindcss";

:root {
  /* --background: #E5F8F4; */
  --background: linear-gradient(to top, #eaf4ff, #cffff5);
  --foreground: #1c1c1c;

}

html {
  color-scheme: light !important;
}

body {
  font-family: var(--font-nunito), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --color-primary: #20847c;
  --color-primary-light: #0FC7B8;

  --color-secondary: #7a9976;
  --color-tertiary: #429da8;

  --color-background: #eaf4ff;
  --color-background-gradient: linear-gradient(to top, #eaf4ff, #cffff5);
  --color-foreground: #1c1c1c;
}
