@import "tailwindcss";

:root {
  --background: #DFF8FB;
  /* --background: linear-gradient(to top, #eaf4ff, #cffff5); */
  --foreground: #313131;
}

html {
  color-scheme: light !important;
}

body {
  font-family: var(--font-nunito), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --color-primary: #20847c;
  --color-primary-light: #0FC7B8;
  --color-primary-faded: #cffff5;

  --color-secondary: #10A8E5;
  --color-tertiary: #429da8;

  --color-background: #eaf4ff;
  --color-background-gradient: linear-gradient(to top, #eaf4ff, #cffff5);
  --color-foreground: #313131;
}
