@import "tailwindcss";

:root {
  /* --background: #E5F8F4; */
  --background: linear-gradient(to top, #ffffff, #cffff5);
  --foreground: #171717;
}

html {
  color-scheme: light !important;
}

body {
  font-family: var(--font-nunito), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --color-primary: #20847c;
  --color-secondary: #7a9976;
  --color-tertiary: #429da8;

  --color-background: #eaf4ff;
  --color-foreground: #171717;
}
